.auth_form{
    text-align: center;
    margin-top:10%;
    color:white;
    margin-bottom: 2em;
}

.auth_heading{
    background: linear-gradient(
        180deg,rgb(4, 255, 251),rgb(23, 23, 221));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin:1em;
    padding:.5em;
}

.input{
    display: block;
    width: 50%;
    border-radius: .3em;
    border:none;
    padding:.5em;
    margin: 1em auto;
    outline: none;
    background-color: lightcyan;
}

.auth_button{
    padding:.3em .7em;
    border-radius: .4em;
    background-color: green;
    color: white;
    border:none;
}